@using Newtonsoft.Json;
@{
    ViewBag.Title = "Setup Report Builder";
    Layout = "~/Views/shared/_Layout.Report.cshtml";
}

<h2>Index</h2>

@section head{
<style type="text/css">
    *, *:before, *:after {
        box-sizing: border-box !important;
    }

    .row {
        -moz-column-width: 17em;
        -webkit-column-width: 17em;
        -moz-column-gap: -1em;
        -webkit-column-gap: -1em;
    }

    .menu-category {
        display: inline-block;
        width: 100%;
    }

    .list-group-item {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .panel-heading {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .fix-top {
        position: fixed;
        top: 50px;
        z-index: 999;
        background-color: white;
        left: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
    }

    .fix-content {
        padding-top: 170px;
        width: 100% !important;
        left: 0;
    }
</style>
    }
@section scripts{
    <script src="~/Scripts/dotnetreport-setup.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>   
    <script src="~/Scripts/bootstrap-editable.min.js"></script>
    <script src="~/Scripts/knockout.x-editable.min.js"></script>
    <script type="text/javascript">

    $.fn.editable.defaults.mode = 'inline';
    $('.helptip').tooltip();

    function closeall() {
        $('.panel-collapse.in')
            .collapse('hide');
    };

    function openall() {
        $('.panel-collapse:not(".in")')
            .collapse('show');
    };

    $(function(){

        var options = {
            model: @(Html.Raw(JsonConvert.SerializeObject(Model))),
            saveTableUrl: '@System.Configuration.ConfigurationManager.AppSettings["dotNetReport.apiUrl"]/ReportApi/SaveTable',
            deleteTableUrl: '@System.Configuration.ConfigurationManager.AppSettings["dotNetReport.apiUrl"]/ReportApi/DeleteTable',
            getRelationsUrl: '@System.Configuration.ConfigurationManager.AppSettings["dotNetReport.apiUrl"]/ReportApi/GetRelations',
            getDataConnectionsUrl: '@System.Configuration.ConfigurationManager.AppSettings["dotNetReport.apiUrl"]/ReportApi/GetDataConnections',
            saveRelationsUrl: '@System.Configuration.ConfigurationManager.AppSettings["dotNetReport.apiUrl"]/ReportApi/SaveRelations',
            addDataConnectionUrl: '@System.Configuration.ConfigurationManager.AppSettings["dotNetReport.apiUrl"]/ReportApi/AddDataConnection',
        };

        var vm = new manageViewModel(options);
        vm.LoadJoins();
        ko.applyBindings(vm);
        vm.LoadDataConnections();
    });

    </script>
}

<div class="fix-top">
    <h2>Manage Database</h2>
    <p>
        You can select and manage display names for the Tables and Columns you would like to allow in .Net Report Builder.
    </p>
    <div class="alert alert-danger">
        Do not expose this Setup Tool to end users who should not have access to it. Ideally, only Developers should be given access to this utility. 
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="control-group">
                <label class="control-label">Data Connection</label>
                <select class="form-control" style="max-width: 300px;" data-bind="options: DataConnections, optionsText: 'DataConnectName', optionsValue: 'DataConnectGuid', value: currentConnectionKey"></select>
                <button class="btn btn-primary btn-sm" data-bind="click: switchConnection, visible: canSwitchConnection">Switch Connection</button>     
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-connection-modal" >Add New Connection</button>
                <button class="btn btn-primary btn-sm" data-bind="click: exportAll">Export Connection</button>
                <button class="btn btn-primary btn-sm" data-bind="click: importStart">Import Connection</button>
            </div>
            <div data-bind="visible: importingFile">
                <br />
                <div class="alert alert-info">
                    Please select a file you have previously exported from this utility. The system will load the screen with the Data Connection setting in the file, however, it will <b>NOT</b> be saved until you press the Save All button or Save individual tables
                    <br />
                    <div class="input-group">
                        <input type="file" accept=".json" id="import-file" data-bind="event: { change: function() { importFile($element.files[0]) } }" />
                        <span class="input-group-btn">
                            <button class="btn btn-link" data-bind="click: importCancel">Cancel</button>
                        </span>
                    </div>
                    
                </div>                
            </div>
        </div>
    </div>

    <br />
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tablesfields" aria-controls="home" role="tab" data-toggle="tab">Tables and Fields</a></li>
            <li role="presentation"><a href="#relations" aria-controls="profile" role="tab" data-toggle="tab">Relations</a></li>
        </ul>
    </div>
    <br />
</div>
<!-- Tab panes -->
<div class="fix-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tablesfields">
            <br />
            <div data-bind="with: Tables">
                <input type="text" class="form-control input-sm" placeholder="Filter Tables for..." data-bind="value: tableFilter, valueUpdate: 'afterkeydown'" style="float: left; width: 140px;">
                <button class="btn btn-sm" data-bind="click: clearTableFilter,  visible: tableFilter()!='' && tableFilter()!=null"><span class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-sm" onclick="openall()" style="margin-left: 15px;">Open all</button>
                <button class="btn btn-sm" onclick="closeall()">Close all</button>
                <button class="btn btn-sm" data-bind="click: selectAll">Select all</button>
                <button class="btn btn-sm" data-bind="click: unselectAll">Unselect all</button>
                <button class="btn btn-sm btn-primary" data-bind="click: $root.saveChanges">Save All Changes</button>                
            </div>
            <br />
            <div class="menu row" data-bind="with: Tables" style="margin-left: 20px;">
                <!-- ko foreach: filteredTables -->

                <div class="menu-category panel panel-default">

                    <div class="panel-heading clearfix" style="">
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" data-bind="checked: Selected">
                                <span data-bind="text: TableName"></span>
                                <span data-bind="visible: IsView" class="label-xs">(view)</span>
                            </label>
                            <button class="btn btn-xs" title="Save this Table" data-bind="click: function(){$data.saveTable($root.keys.AccountApiKey, $root.keys.DatabaseApiKey);}"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                            <button class="btn btn-xs" title="Manage Role Access" data-toggle="modal" data-target="#role-access-modal" data-bind="click: $root.selectAllowedRoles">
                                <i class="glyphicon glyphicon-user"></i>
                            </button>
                        </div>
                        <a href="#" class="pull-right" data-toggle="collapse" data-bind="attr: {'data-target': '#table'+$index()}">
                            
                        </a>
                    </div>
                    <div data-bind="attr: {id: 'table'+$index()}" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p><label class="label-xs">Display Name</label><br /><span data-bind="editable: DisplayName"></span></p>
                            <p><label class="label-xs">Account Id Field</label><br /><span data-bind="editable: AccountIdField"></span></p>
                        </div>

                        <label style="padding-left: 15px;" class="label-sm"><span data-bind="text: Columns().length"></span> Columns</label>
                        <button class="btn btn-xs btn-link pull-right label-sm" data-bind="click: $parent.unselectAllColumns, visible: Selected">Unselect All</button>
                        <button class="btn btn-xs btn-link pull-right label-sm" data-bind="click: $parent.selectAllColumns, visible: Selected">Select All</button>
                        <div class="list-group" data-bind="sortable: { data: Columns, options: { handle: '.sortable', cursor: 'move' }, afterMove: $parent.columnSorted }">
                            @*<!-- ko foreach: Columns -->*@
                            <div class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-bind="checked: Selected, enable: $parent.Selected()">
                                        @*<span data-bind="text: ColumnName"></span> <br />*@
                                        <span data-bind="editable: DisplayName"></span>
                                        @*<span data-bind="text: DisplayOrder"></span>*@
                                        <label data-bind="visible: PrimaryKey" class="label label-primary">Primary</label>
                                        <label data-bind="visible: ForeignKey" class="label label-info">Foreign</label>
                                    </label>
                                    <button class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#column-modal" title="All column options" data-bind="click: $root.selectColumn">...</button>

                                    <div class="btn btn-xs btn-default pull-right sortable">
                                        <span class="glyphicon glyphicon-move" aria-hidden="true" title="Drag to reorder"></span>
                                    </div>
                                </div>

                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="relations">

            <br />
            <form id="form-joins">

                <p>
                    Setup your Database Relations
                    <span data-toggle="tooltip" data-placement="right" title="Report Builder also needs to know the Data Table Relations in order to Generate Reports. You have to specify it here." class="glyphicon glyphicon-question-sign helptip"></span>
                </p>

                <table class="table">
                    <thead data-bind="with: JoinFilters">
                        <tr>
                            <th>
                                Primary Table
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control input-sm" data-bind="value: primaryTable, valueUpdate: 'afterkeydown'" placeholder="Search...">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </th>
                            <th>
                                Field
                                <div class="input-group input-group-sm">

                                    <input type="text" class="form-control input-sm" data-bind="value: primaryField, valueUpdate: 'afterkeydown'" placeholder="Search...">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </th>
                            <th>
                                Join Type
                                <div class="input-group input-group-sm">

                                    <input type="text" class="form-control input-sm" data-bind="value: joinType, valueUpdate: 'afterkeydown'" placeholder="Search...">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </th>
                            <th>
                                Join Table
                                <div class="input-group input-group-sm">

                                    <input type="text" class="form-control input-sm" data-bind="value: joinTable, valueUpdate: 'afterkeydown'" placeholder="Search...">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </th>
                            <th>
                                Field<div class="input-group input-group-sm">

                                    <input type="text" class="form-control input-sm" data-bind="value: joinField, valueUpdate: 'afterkeydown'" placeholder="Search...">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: filteredJoins">
                        <tr>
                            <td>
                                <select class="form-control input-medium" data-bind="options: $root.Tables.availableTables, optionsText: 'DisplayName', value: JoinTable"></select>
                            </td>
                            <td data-bind="with: JoinTable">
                                <select class="form-control" data-bind="options: availableColumns, optionsText: 'DisplayName', optionsValue: 'ColumnName', value: $parent.FieldName"></select>
                            </td>
                            <td>
                                <select class="form-control input-small" data-bind="options: $root.JoinTypes, value: JoinType"></select>
                            </td>
                            <td>
                                <select class="form-control input-medium" data-bind="options: OtherTables, optionsText: 'DisplayName', value: OtherTable"></select>
                            </td>
                            @*
                            <td>
                                <input class="form-control" type="text" data-bind="value: FieldName" placeholder="Enter Field Name" />
                            </td>
                            <td>
                                <input class="form-control" type="text" data-bind="value: JoinFieldName" placeholder="Enter Field Name" />
                            </td>*@

                            <td data-bind="with: OtherTable">
                                <select class="form-control" data-bind="options: availableColumns, optionsText: 'DisplayName', optionsValue: 'ColumnName', value: $parent.JoinFieldName"></select>
                            </td>
                            <td>
                                <button class="btn btn-default" data-bind="click: DeleteJoin">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn" data-bind="click: AddJoin">Add new Join</button>&nbsp;
                <button class="btn" data-bind="click: SaveJoins">Save Joins</button>
            </form>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="column-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-bind="with: editColumn()">
            <div class="modal-header">                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Manage <label data-bind="text: ColumnName"></label></h4>
            </div>
            <div class="modal-body">
                <p>Choose options that will determine how users interact with this column on Reports</p>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Display_Name" data-bind="attr:{placeholder:'Ex First Name'}" placeholder="Ex First Name">Display Name</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control text-box single-line" data-val="true" data-val-required="The DisplayName field is required." id="DisplayName" name="DisplayName" type="text" value="First Name" data-bind="value: DisplayName, attr:{placeholder:'Ex First Name'}" placeholder="Ex First Name">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign helptip" title="This is a friendly name to display to your users"></span>
                            </div>
                        </div>
                    </div>
                    @*<div class="control-group">
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 control-label" for="Display_Order" data-bind="">Display Order</label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field DisplayOrder must be a number." data-val-required="The DisplayOrder field is required." id="DisplayOrder" name="DisplayOrder" type="number" value="0" data-bind="value: DisplayOrder">
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <span class="field-validation-valid help-inline indent" data-valmsg-for="DisplayOrder" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>*@
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Field_Type" data-bind="">Field Type</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" id="FieldType_SelectedId" name="FieldType.SelectedId" data-bind="value: FieldType">
                                    <option value="Boolean">Boolean</option>
                                    <option value="DateTime">Date Time</option>
                                    <option value="Varchar">Varchar</option>
                                    <option value="Money">Money</option>
                                    <option value="Int">Int</option>
                                    <option value="Double">Double</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span class="field-validation-valid help-inline indent" data-valmsg-for="FieldType" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div><div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Primary_Key" data-bind="">Primary Key</label>
                            <div class="col-md-6 col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input class="check-box" data-val="true" data-val-required="The PrimaryKey field is required." id="PrimaryKey" name="PrimaryKey" type="checkbox" value="true" data-bind="checked:PrimaryKey"><input name="PrimaryKey" type="hidden" value="false">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span class="field-validation-valid help-inline indent" data-valmsg-for="PrimaryKey" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" data-bind="">Do Not Display</label>
                            <div class="col-md-6 col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input class="check-box" data-val="true" type="checkbox" value="true" data-bind="checked:DoNotDisplay">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign helptip" title="If this is checked, the column will not be displayed on Report Designer, but can still be used on Global Data Filters"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Foreign_Key" data-bind="">Foreign Key</label>
                            <div class="col-md-6 col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        <input class="check-box" data-val="true" data-val-required="The ForeignKey field is required." id="ForeignKey" name="ForeignKey" type="checkbox" value="true" data-bind="checked:ForeignKey"><input name="ForeignKey" type="hidden" value="false">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign helptip" title="Foreign keys allows friendly selection in Filters using a Dropdown List"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Foreign_Table" data-bind="visible:ForeignKey(), attr: {required: ForeignKey()?'True':null, placeholder: 'Ex tblEmployees'}" placeholder="Ex tblEmployees" style="display: none;">Foreign Table</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" data-bind="value: JoinTable, visible:ForeignKey(), options: $root.Tables.model, optionsText: 'TableName'" placeholder="Ex tblEmployees" style="display: none;"></select>

                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span class="field-validation-valid help-inline indent" data-valmsg-for="ForeignTable" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Foreign_Join" data-bind="visible:ForeignKey(), attr: {required: ForeignKey()?'True':null}" style="display: none;">Foreign Join</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" id="ForeignJoin_SelectedId" name="ForeignJoin.SelectedId" data-bind="value: ForeignJoin, visible:ForeignKey(), attr: {required: ForeignKey()?'True':null}" style="display: none;">
                                    <option selected="selected" value="Inner">Inner</option>
                                    <option value="Left">Left</option>
                                    <option value="Right">Right</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span class="field-validation-valid help-inline indent" data-valmsg-for="ForeignJoin" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Foreign_Key_Field" data-bind="visible:ForeignKey(), attr: {required: ForeignKey()?'True':null, placeholder: 'Ex EmployeeId'}" placeholder="Ex EmployeeId" style="display: none;">Foreign Key Field</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" id="ForeignKeyField" name="ForeignKeyField" data-bind="options: JoinTable().Columns, optionsText: 'ColumnName', optionsValue: 'ColumnName', value: ForeignKeyField, visible:ForeignKey(), attr: {required: ForeignKey()?'True':null}" placeholder="Ex EmployeeId" style="display: none;"></select>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span data-bind="visible:ForeignKey()" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign helptip" style="display: none;" title="Foreign Key field is a Column from the Foreign table which is used as the Key field"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label" for="Foreign_Value_Field" data-bind="visible:ForeignKey(), attr: {required: ForeignKey()?'True':null, placeholder: 'Ex EmployeeName'}" placeholder="Ex EmployeeName" style="display: none;">Foreign Value Field</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" id="ForeignValueField" name="ForeignValueField" data-bind="options: JoinTable().Columns, optionsText: 'ColumnName', optionsValue: 'ColumnName', value: ForeignValueField, visible:ForeignKey(), attr: {required: ForeignKey()?'True':null}" placeholder="Ex EmployeeName" style="display: none;"></select>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span data-bind="visible:ForeignKey()" data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign helptip" style="display: none;" title="Foreign Value field is a Column from the Foreign table which is used to display the value to the User in the Wizard"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn btn-default" title="Manage Role Access" data-toggle="modal" data-target="#role-access-modal" data-bind="click: $root.selectAllowedRoles">
                    <i class="glyphicon glyphicon-user"></i> Manage Role Access
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="role-access-modal" role="dialog" tabindex="-2">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-bind="with: editAllowedRoles">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Manage Access by Roles</h4>
            </div>
            <div class="modal-body">
                <p>Choose User Roles that will have Access</p>
                <p class="small">Note: All Users will have access if no restricted roles are setup</p>
                <div class="list-group" data-bind="foreach: AllowedRoles">
                    <div class="list-group-item" style="padding-top: 2px; padding-bottom: 2px;">
                        <span data-bind="text: $data"></span>
                        <button class="btn btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-trash" data-bind="click: $root.removeAllowedRole"></i></button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="form-group">
                            <div class="col-xs-10">
                                <input class="form-control text-box single-line" type="text" data-bind="value: $root.newAllowedRole" placeholder="Ex Sales">
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" data-bind="click: $root.addAllowedRole">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="modal fade" id="add-connection-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-bind="with: newDataConnection">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a new Data Connection</h4>
            </div>
            <div class="modal-body">
                <p>Choose User Roles that will have Access</p>
                <p class="small">Note: All Users will have access if no restricted roles are setup</p>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label">Connection Name</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control text-box" data-val="true" data-val-required="Connection Name is required." type="text" data-bind="value: Name" placeholder="" id="add-conn-name">
                            </div>                           
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label">Connection Key</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control text-box" data-val="true" data-val-required="Connection Key is required." type="text" data-bind="value: ConnectionKey" placeholder="" id="add-conn-key">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <span data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-question-sign helptip" title="This is the Connection Key in your web.config for your SQL Connection String"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="check-box col-md-12">
                                <label>
                                    <input type="checkbox" data-bind="checked: copySchema">
                                    Copy Schema from existing Connection
                                </label>
                            </div>
                        </div>
                        <div class="form-group" data-bind="visible: copySchema">
                            <label class="col-md-3 col-sm-3 control-label">Choose Connection</label>
                            <div class="col-md-6 col-sm-6">
                                <select class="form-control" style="max-width: 300px;" data-bind="options: $root.DataConnections, optionsText: 'DataConnectName', optionsValue: 'DataConnectGuid', value: copyFrom"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: $root.addDataConnection">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>