@model ReportBuilder.Web.Models.TableViewModel

@{
    ViewBag.Title = "RunProcedure";
    Layout = "~/Views/shared/_Layout.Report.cshtml";
}

<h2>Run Store Procedure</h2>


<div class="fix-content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.TableName, ViewBag.StoreProcedureList as IEnumerable<SelectListItem>, "Please Select", new { @class = "form-control" })
            </div>
        </div>
        <br />
        if (Model.Parameters.Count > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>Store Procedure Parameters</h4>
                </div>
            </div>
        }
<div class="row">

    @for (int i = 0; i < Model.Parameters.Count; i++)
    {
        @Html.HiddenFor(model => Model.Parameters[i].ParameterName)
        @Html.HiddenFor(model => Model.Parameters[i].ParameterDataTypeString)
        @Html.HiddenFor(model => Model.Parameters[i].ParameterDataTypeCLR)
        @Html.HiddenFor(model => Model.Parameters[i].ParamterDataTypeOleDbType)
        @Html.HiddenFor(model => Model.Parameters[i].ParamterDataTypeOleDbTypeInteger)
        <div class="col-md-2">
            <label>@Model.Parameters[i].ParameterName</label>
            @if (Model.Parameters[i].ParamterDataTypeOleDbType == System.Data.OleDb.OleDbType.DBDate || Model.Parameters[i].ParamterDataTypeOleDbType == System.Data.OleDb.OleDbType.DBTimeStamp)
            {
                @Html.TextBoxFor(model => Model.Parameters[i].ParameterValue, new { @class = "form-control datetimepicker" })
            }
            else if (Model.Parameters[i].ParamterDataTypeOleDbType == System.Data.OleDb.OleDbType.Boolean)
            {
                @Html.DropDownListFor(model => Model.Parameters[i].ParameterValue, new List<SelectListItem> { new SelectListItem { Text = "True", Value = "1" }, new SelectListItem { Text = "False", Value = "0" } }, new { @class = "form-control" })
            }
            else
            {
                @Html.TextBoxFor(model => Model.Parameters[i].ParameterValue, new { @class = "form-control" })
            }
        </div>
    }

</div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Go" class="btn btn-primary" />
            </div>
        </div>

    }
    @if (Model.dataTable != null)
    {
        <hr />
        <h3>Store Procedure Result</h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-responsive table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn dc in Model.dataTable.Columns)
                            {
                                <th>@dc.Caption</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.dataTable.Rows)
                        {
                            <tr>
                                @foreach (var cell in row.ItemArray)
                                {
                                    <td>@cell.ToString()</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
           // $('.datetimepicker').datetimepicker();
        });
    </script>

    }
