@using Newtonsoft.Json;
@{
    Layout = "~/Views/shared/_Layout.ReportSetup.cshtml";
}

@section head {
    <link href="~/lib/x-editable-bs4/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/lib/tributejs/tribute.css" rel="stylesheet" />

    <style type="text/css">
        .glyphicon-ok:before {
            content: "\f00c";
        }

        .glyphicon-remove:before {
            content: "\f00d";
        }

        .glyphicon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .selected-option {
            border: 1px solid #007bff; /* A subtle blue border */
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* A light blue shadow for emphasis */
        }
    </style>
}
@section scripts {
    <script>$.fn.popover = { Constructor: {} };</script>
    <script src="~/lib/tributejs/tribute.min.js"></script>
    <script src="~/js/dotnetreport-setup.js"></script>
    <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
    <script src="~/lib/x-editable-bs4/js/bootstrap-editable.min.js"></script>
    <script src="~/lib/knockout-x-editable/knockout.x-editable.min.js"></script>
    <script type="text/javascript">

        $.fn.editable.defaults.mode = 'inline';
        $('.helptip').tooltip();

        function closeall() {
            $('.panel-collapse.in')
                .collapse('hide');
        };

        function openall() {
            $('.panel-collapse.in')
                .collapse('show');
        };

        $(document).ready(function () {
            var queryParams = Object.fromEntries((new URLSearchParams(window.location.search)).entries());
            ajaxcall({ url: '@Url.Action("LoadSetupSchema", "DotNetReportApi")' + '?databaseApiKey=' + (queryParams.databaseApiKey || '') }).done(function (model) {
                if (model && model.noAccount === true) {
                    $("#noaccountModal").modal('show');
                    return;
                }

                var options = {
                    model: model,
                    reportsApiUrl: '@Url.Action("CallReportApi", "DotNetReportApi")',
                    getUsersAndRoles: '@Url.Action("GetUsersAndRoles", "DotNetReportApi")',
                    apiUrl: '@Url.Action("CallPostReportApi", "DotNetReportApi")',
                    ExistingUsersUrl: '@Url.Action("ExistingUsersTable", "DotNetUserApi")',
                    ExistingRoleUrl: '@Url.Action("ExistingRoleTable", "DotNetUserApi")',
                    ExistingUserRoleUrl: '@Url.Action("ExistingUserRoleTable", "DotNetUserApi")',
                    CreatingUserTableUrl: '@Url.Action("CreateandInsertUser", "DotNetUserApi")',
                    CreatingRoleTableUrl: '@Url.Action("CreateandInsertRole", "DotNetUserApi")',
                    CreatingUserRoleTableUrl: '@Url.Action("CreateandInsertUserRole", "DotNetUserApi")',
                    UpdateUserDataUrl: '@Url.Action("UpdateUser", "DotNetUserApi")',
                    UpdateRoleDataUrl: '@Url.Action("UpdateRole", "DotNetUserApi")',
                    UpdateUserRoleDataUrl: '@Url.Action("UpdateUserRole", "DotNetUserApi")',
                    DeleteUserDataUrl: '@Url.Action("DeleteUser", "DotNetUserApi")',
                    DeleteRoleDataUrl: '@Url.Action("DeleteRole", "DotNetUserApi")',
                    DeleteUserRoleDataUrl: '@Url.Action("DeleteUserRole", "DotNetUserApi")',
                    LoadRolesUrl: '@Url.Action("LoadRolesData", "DotNetUserApi")',
                    UpdateUserConfigSettingUrl: '@Url.Action("UpdateUserConfigSetting", "DotNetReportApi")',
                    saveAppSettingUrl: '@Url.Action("SaveAppSettings", "DotNetReportApi")',
                    getAppSettingUrl: '@Url.Action("AppSettings", "DotNetReportApi")',
                };

                var vm = new manageViewModel(options);
                vm.setupManageAccess();
                ko.applyBindings(vm);
                vm.UserAndRolesConfig.init();

            });
        });

    </script>
}


@section dboptions {
    <a class="bg-dark list-group-item list-group-item-action" href="/dotnetsetup/">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-database fa-fw me-3"></span>
            <span class="menu-collapsed">DB Connections</span>
        </div>
    </a>
}

@section useroptions {

    <a class="bg-dark list-group-item list-group-item-action active" href="#useroptions" aria-controls="home" role="tab" data-bs-toggle="tab">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-gear fa-fw me-3"></span>
            <span class="menu-collapsed">Configuration</span>
        </div>
    </a>

    <a href="#manageusers" aria-controls="manageusers" role="tab" data-bs-toggle="tab" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-users fa-fw me-3"></span>
            <span class="menu-collapsed">Users and Roles</span>
        </div>
    </a>

    <a href="#manageaccess" aria-controls="manageaccess" role="tab" data-bs-toggle="tab" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-user-secret fa-fw me-3"></span>
            <span class="menu-collapsed">Manage Access</span>
        </div>
    </a>

    <a href="#settingpage" aria-controls="settingpage" role="tab" data-bs-toggle="tab" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-gears fa-fw me-3"></span>
            <span class="menu-collapsed">System Settings</span>
        </div>
    </a>

}

<div>
    <div class="alert alert-danger">
        Do not expose this Setup Tool to end users who should not have access to it. Ideally, only Developers should be given access to this utility.
    </div>

    <div class="d-sm-block">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a class="nav-link active" href="#useroptions" aria-controls="manageusers" role="tab" data-bs-toggle="tab"><span class="fa fa-gear fa-fw me-3"></span> Configuration</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#manageusers" aria-controls="manageusers" role="tab" data-bs-toggle="tab"> <span class="fa fa-users fa-fw me-3"></span> Users and Roles</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#manageaccess" aria-controls="manageaccess" role="tab" data-bs-toggle="tab"> <span class="fa fa-user-secret fa-fw me-3"></span> Manage Reports Access</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#settingpage" aria-controls="settingpage" role="tab" data-bs-toggle="tab"><span class="fa fa-gears fa-fw me-3"></span> Setting Access</a></li>

        </ul>
    </div>
    <br />
</div>
<!-- Tab panes -->
<div class="fix-content" style="display: none;" data-bind="visible: true">
    <div class="tab-content">

        <div id="useroptions" class="tab-pane active" data-bind="with: UserAndRolesConfig">
            <div>
                <b>User and Roles Management Options</b><br />
                <p>Please select how you want to use Dotnet Report with your users and manage secure login access.</p>
                <br />

                <div class="col-md-8 mb-4">
                    <div class="card" data-bind="css: { 'selected-option': selectedUserConfig() === 'not-managed' }">
                        <div class="card-body">
                            <div class="form-check font-weight-bold error">
                                <input type="checkbox" id="not-managed" class="form-check-input" data-bind="checked: _selectedUserConfig, click: function() { confirmUpdate('not-managed'); return true; }, checkedValue: 'not-managed'">
                                <label class="form-check-label" for="not-managed">No Users or Roles</label>
                            </div>
                            <div class="card-text">
                                Use Dotnet Report with just your own Account login.
                                <div class="padded-top"></div>
                                <div class="padded-div small alert alert-danger">
                                    <i class="fa fa-lightbulb-o"></i> This option is NOT recommended as it can be used only with a single user login. You will not be able to add other users or give access to your Reports and Dashboards to other users.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 mb-4">
                    <div class="card" data-bind="css: { 'selected-option': selectedUserConfig() === 'dnr-managed' }">
                        <div class="card-body">
                            <div class="form-check font-weight-bold">
                                <input type="checkbox" id="dnr-managed" class="form-check-input" data-bind="checked: _selectedUserConfig, click: function() { confirmUpdate('dnr-managed'); return true; }, checkedValue: 'dnr-managed'">
                                <label class="form-check-label" for="dnr-managed">Managed by Dotnet Report</label>
                            </div>
                            <div class="card-text">
                                Create your Users and Roles using Dotnet Report. We will present you with options to create, manage Users, and their Roles, and store and manage all your users and access.<br />
                                <div class="padded-top"></div>
                                <div class="padded-div small alert bg-light">
                                    <i class="fa fa-lightbulb-o"></i> This option works best when using Dotnet Report as a "Standalone System" where you would give access to your users to Reports and Dashboards using <b>this</b> web application. You have limited options for Multi-Tenancy Support.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 mb-4">
                    <div class="card" data-bind="css: { 'selected-option': selectedUserConfig() === 'code-managed' }">
                        <div class="card-body">
                            <div class="form-check font-weight-bold">
                                <input type="checkbox" id="code-managed" class="form-check-input" data-bind="checked: _selectedUserConfig, click: function() { confirmUpdate('code-managed'); return true; }, checkedValue: 'code-managed'">
                                <label class="form-check-label" for="code-managed">Embedded / Code</label>
                                <label class="badge badge-info"><i class="fa fa-star"></i> Most Popular</label>
                            </div>
                            <div class="card-text">
                                Embed Dotnet Report directly into your current Web Application code, and work directly with your existing Authentication and Claims infrastructure.
                                <div class="padded-top"></div>
                                <div class="padded-div small alert bg-light">
                                    <i class="fa fa-lightbulb-o"></i> This is the ideal option when you want to Embed Dotnet Report in your existing SaaS or proprietary Web Application, especially if you want to take full advantage of all the Multi-Tenancy Client features of Dotnet Report. It will require some coding and updating in your web application.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 mb-4">
                    <div class="card" data-bind="css: { 'selected-option': selectedUserConfig() === 'api-managed' }">
                        <div class="card-body">
                            <div class="form-check font-weight-bold">
                                <input type="checkbox" id="api-managed" class="form-check-input" disabled="disabled" data-bind="checked: _selectedUserConfig, click: function() { confirmUpdate('api-managed'); return true; }, checkedValue: 'api-managed'">
                                <label class="form-check-label" for="api-managed">Using your API or SSO Service</label>

                                <label class="badge badge-warning" title="This option is not available yet">Coming Soon</label>
                            </div>
                            <div class="card-text">
                                Manage your Users, Roles, and their Claims access using your own code and infrastructure outside of Dotnet Report. Just connect your API or SSO Service, and Dotnet Report will authorize login access using your service.
                                <div class="padded-top"></div>
                                <div class="padded-div small alert bg-light">
                                    <i class="fa fa-lightbulb-o"></i> This option works best for using Dotnet Report as a "Standalone System" as well, where you would give access to your users to Dotnet Report Reports and Dashboards using <b>this</b> web application. This could work for the "Embedded" option as well using an iFrame, but it's not ideal for embedding. Some coding will be required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div id="manageusers" class="tab-pane" data-bind="with: UserAndRolesConfig">
            <b>Manage Users and Roles</b>
            <p>
                Configure and manage your Application Users and Roles in Dotnet Report.
            </p>

            <div data-bind="if: selectedUserConfig() == 'not-managed'">
                <div class="alert alert-danger">
                    Your selected option is <b>No Login Required</b>. With this option, you do not need to manage or setup users at all.<br />
                    Any user will be able to Run or Manage Reports and Dashboard <b>IF</b> you deploy this web application and provide the URL to a user
                </div>
            </div>

            <div data-bind="if: selectedUserConfig() == 'code-managed'">
                <div class="alert alert-info">
                    Your selected option is <b>Embedded / Code</b>. With this option, you do not need to manage or setup users here.<br />
                    You need to install Dotnet Report in your application using the corrent NuGet package. We have different NuGet install packages for different versions of .NET
                </div>
            </div>

            <div data-bind="if: selectedUserConfig() == 'api-managed'">
                <div class="alert alert-info">
                    Your selected option is <b>Using your API or SSO</b>. With this option, you can provide your API URL or SSO Redirect URL below.<br />
                    Your Authorization Service must return JSON or Claims in the format described below.
                </div>
            </div>

            <div data-bind="if: selectedUserConfig() == 'dnr-managed'">
                <div class="alert alert-info">
                    Your selected option is <b>Managed by Dotnet Report</b>. With this option, you can create and manage your users who will access the system below. <br />
                    Users and Roles will be managed using Standard ASP.NET Individual Account Identity. It uses "AspNetUsers" and "AspNetUserRoles" tables. If these tables don't exist in your database, they will be created, otherwise existing tables will be used.
                </div>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#setup-users" aria-controls="setup-users" role="tab" data-bs-toggle="tab">Users</a></li>
                        <li role="presentation" class="nav-item"><a class="nav-link" href="#setup-userroles" aria-controls="setup-userroles" role="tab" data-bs-toggle="tab">User Roles</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="setup-users" class="tab-pane active py-3">
                        <div class="container-fluid">
                            <!-- Create User Button -->
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <b><i class="fa fa-users"></i> Manage Users</b>
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createUserModal">
                                    <i class="fa fa-plus"></i> New User
                                </button>
                            </div>
                            <p>
                                You can create users who can log in to both the online portal and Dotnet Report to access and use the system.
                            </p>
                            <!-- User Table -->
                            <div class="table-responsive">
                                <table class="table table-hover shadow-sm">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Permissions</th>
                                            <th>Roles</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: usersTableData">
                                        <tr>
                                            <td data-bind="text: name"></td>
                                            <td>
                                                <span data-bind="text: email"></span>
                                                <p data-bind="visible: isPrimary" class="text-muted">
                                                    <i class="fa fa-info-circle text-info"></i> Primary Account user<br />Cannot delete or remove permissions
                                                </p>
                                            </td>
                                            <td>

                                                <ul class="list-unstyled" data-bind="foreach: $parent.getSelectedClaims(claims)">
                                                    <li>
                                                        <i class="fa fa-check-circle text-success"></i>
                                                        <span data-bind="text: claimValue"></span>
                                                    </li>
                                                </ul>
                                                <span class="text-muted" data-bind="visible: $parent.getSelectedClaims(claims).length === 0">
                                                    No permissions assigned.
                                                </span>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled" data-bind="foreach: $parent.getSelectedRoles(roles)">
                                                    <li>
                                                        <span class="badge bg-success" data-bind="text: roleName"></span>
                                                    </li>
                                                </ul>
                                                <span class="text-muted" data-bind="visible: $parent.getSelectedRoles(roles).length === 0">
                                                    No role assigned.
                                                </span>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-primary me-1" data-bs-toggle="modal" data-bs-target="#editUserModal" data-bind="click: function() { $parent.openEditDeleteUserModal($data); }">
                                                    <i class="fa fa-edit"></i> Edit
                                                </button>
                                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-bind="click: function() { $parent.openEditDeleteUserModal($data); }, disable: isPrimary">
                                                    <i class="fa fa-trash"></i> Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- No Data Message -->
                            <div data-bind="if: usersTableData().length === 0">
                                <div>
                                    No Users added yet.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="setup-userroles" class="tab-pane py-3">
                        <div class="container-fluid">
                            <!-- Create Role Button -->
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <b><i class="fa fa-shield"></i> Manage Roles</b>
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createRoleModal">
                                    <i class="fa fa-plus"></i> New Role
                                </button>
                            </div>
                            <p>
                                You can create Roles to manage who can view, edit, or delete Reports and Dashboards.
                            </p>
                            <!-- Role Table -->
                            <div class="table-responsive" data-bind="if: roleTableData().length > 0">
                                <table class="table table-hover shadow-sm">
                                    <thead>
                                        <tr>
                                            <th>Role</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: roleTableData">
                                        <tr>
                                            <td data-bind="text: roleName"></td>
                                            <td>
                                                <button class="btn btn-sm btn-primary me-1" data-bs-toggle="modal" data-bs-target="#editRoleModal" data-bind="click: function() { $parent.openEditDeleteRoleModal($data); }">
                                                    <i class="fa fa-edit"></i> Edit
                                                </button>
                                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRoleModal" data-bind="click: function() { $parent.openEditDeleteRoleModal($data); }">
                                                    <i class="fa fa-trash"></i> Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- No Data Message -->
                            <div data-bind="if: roleTableData().length === 0">
                                <div>
                                    No Roles added yet.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="manageaccess" class="tab-pane">
            <b>Manage Access</b>
            <p>
                Configure and manage Access to run or manage reports in Dotnet Report by User or User Roles
            </p>
            <div data-bind="foreach: reportsAndFolders" class="card" style="margin-left: 20px;">
                <div class="card-body">
                    <a class="btn btn-link" role="button" data-bs-toggle="collapse" data-bind="attr: {href: '#folder-' + folderId }">
                        <i class="fa fa-folder"></i>&nbsp;<span data-bind="text: folder"></span>
                    </a>
                    <div class="collapse" data-bind="attr: {id: 'folder-' + folderId }">
                        <div data-bind="if: reports.length == 0">
                            No Reports found in this folder
                        </div>
                        <ul class="list-group" data-bind="foreach: reports">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div>
                                            <label class="list-group-item-heading">
                                                <span class="fa" data-bind="css: {'fa-file': reportType=='List', 'fa-th-list': reportType=='Summary', 'fa-bar-chart': reportType=='Bar', 'fa-pie-chart': reportType=='Pie',  'fa-line-chart': reportType=='Line', 'fa-globe': reportType =='Map'}" style="font-size: 14pt; color: #808080"></span>
                                                <span data-bind="text: reportName"></span>
                                            </label>
                                        </div>
                                        <p class="list-group-item-text small" data-bind="text: reportDescription"></p>

                                        <div class="small" style="padding-top: 10px;">
                                            <b>Current Report Access</b><br />
                                            Manage by User <span class="badge badge-info" data-bind="text: userId ? userId : 'No User'"></span>
                                            <br />
                                            View only by User <span class="badge badge-info" data-bind="text: (viewOnlyUserId ? viewOnlyUserId : (userId ? userId : 'Any User'))"></span>
                                            <br />
                                            <div data-bind="if: deleteOnlyUserId">
                                                Delete only by User <span class="badge badge-info" data-bind="text: deleteOnlyUserId"></span>
                                                <br />
                                            </div>
                                            <div data-bind="if: userRole">
                                                Manage by Role <span class="badge badge-info" data-bind="text: userRole ? userRole : 'No Role'"></span>
                                                <br />
                                            </div>
                                            <div data-bind="if: viewOnlyUserRole">
                                                View only by Role <span class="badge badge-info" data-bind="text: viewOnlyUserRole ? viewOnlyUserRole : 'Any Role'"></span>
                                                <br />
                                            </div>
                                            <div data-bind="if: deleteOnlyUserRole">
                                                Delete only by Role <span class="badge badge-info" data-bind="text: deleteOnlyUserRole ? deleteOnlyUserRole : 'Same as Manage'"></span>
                                                <br />
                                            </div>
                                            <div>
                                                For Client <span class="badge badge-info" data-bind="text: clientId ? clientId : 'All Clients'"></span>
                                                <br />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <button class="btn btn-sm btn-primary" data-bind="click: function() { changeAccess(!changeAccess())}, text: !changeAccess() ? 'Change Access': 'Cancel Changing Access', hidden: changeAccess">Change Access</button>
                                    </div>

                                    <div data-bind="if: changeAccess" class="col-md-9">
                                        <div style="border-left: 1px solid; padding-left: 10px;">
                                            <div data-bind="template: {name: 'manage-access-template', data: $root }"></div>
                                            <br />
                                            <br />
                                            <button class="btn btn-sm btn-primary" data-bind="click: saveAccessChanges">Save Access Changes</button>
                                            <button class="btn btn-sm btn-primary" data-bind="click: function() { changeAccess(!changeAccess())}, text: !changeAccess() ? 'Change Access': 'Cancel Changing Access'">Change Access</button>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add settingpage -->
        <div id="settingpage" class="tab-pane">
            <b>Setting Access</b>
            <p>
                Configure and manage Access to run or manage reports in Dotnet Report by User or User Roles
            </p>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="card" style="margin: 20px;">
                        <div class="card-body">
                            <form id="appSettingsForm" data-bind="with: SettingPage">
                                <label for="backendApiUrl">Backend Service API Url:</label>
                                <input type="text" class="form-control" required data-bind="value: backendApiUrl">
                                <div class="invalid-feedback">BackendApiUrl is required.</div>
                                <div>
                                    <label for="themeSelect">Application Theme:</label>
                                    <select class="form-control" id="themeSelect" data-bind="options: appThemes,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value:selectedAppTheme
                                               optionsCaption: 'Select a Theme'"></select>
                                    <br>
                                    <div class="invalid-feedback">Application Theme is required.</div>
                                </div>
                                <div>
                                    <label for="timezone">Default time zone:</label>
                                    <select class="form-control" id="timezoneSelect" data-bind="options: timeZones,
                                               optionsText: 'displayName',
                                               optionsValue: 'value',
                                               value:selectedTimeZone
                                               optionsCaption: 'Select a timezone'"></select>
                                    <br>
                                    <div class="invalid-feedback">Select timezone is required.</div>
                                </div>
                                <div>
                                    <div class="card-body">
                                        <h5 class="card-title">Scheduled Job Email Settings:</h5>
                                        <div class="form-group">
                                            <label for="emailUsername">Email Username:</label>
                                            <input type="text" class="form-control" data-bind="value: emailUsername">
                                            <div class="invalid-feedback">Email Username is required.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailPassword">Email Password:</label>
                                            <input type="password" class="form-control" data-bind="value: emailPassword">
                                            <div class="invalid-feedback">Email Password is required.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailServer">Email Server:</label>
                                            <input type="text" class="form-control" data-bind="value: emailServer">
                                            <div class="invalid-feedback">Email Server is required.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailPort">Email Port:</label>
                                            <input type="text" class="form-control" data-bind="value: emailPort">
                                            <div class="invalid-feedback">Email Port is required.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailName">From Email Name:</label>
                                            <input type="text" class="form-control" data-bind="value: emailName">
                                            <div class="invalid-feedback">Email Name is required.</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailaddress">From Email:</label>
                                            <input type="email" class="form-control" data-bind="value: emailAddress">
                                            <div class="invalid-feedback">From Email is required.</div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="saveAppSettings" class="btn btn-primary" data-bind="click: saveAppSettings">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="role-access-modal" role="dialog" tabindex="-2">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-bind="with: editAllowedRoles">
            <div class="modal-header">
                <h4 class="modal-title">Manage Access by Roles</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Choose User Roles that will have Access</p>
                <p class="small">Note: All Users will have access if no restricted roles are setup</p>
                <div class="list-group" data-bind="foreach: AllowedRoles">
                    <div class="list-group-item" style="padding-top: 2px; padding-bottom: 2px;">
                        <span data-bind="text: $data"></span>
                        <button class="btn btn-sm btn-danger pull-right"><i class="fa fa-trash" data-bind="click: $root.removeAllowedRole"></i></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-10">
                        <input class="form-control" type="text" data-bind="value: $root.newAllowedRole" placeholder="Ex Sales">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" data-bind="click: $root.addAllowedRole">Add</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<!-- Create User Modal -->
<div class="modal" id="createUserModal" data-bind="with: UserAndRolesConfig" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-user-plus"></i> Add a New User
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="Name" class="form-control full-width-input border-primary" placeholder="Name" data-bind="value: name" required>
                                <label for="Name"><i class="fa fa-user"></i> Name</label>
                                <div class="invalid-feedback">Name is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" id="email" class="form-control full-width-input border-primary" placeholder="Email Address" data-bind="value: email" required>
                                <label for="email"><i class="fa fa-envelope"></i> Email Address</label>
                                <div class="invalid-feedback">Email Address is required.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Claims Checkboxes Section -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <label class="form-label"><i class="fa fa-shield"></i> Account Permissions</label>
                            <div class="border rounded p-3" data-bind="foreach: claimsTableData">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           data-bind="attr: { id: claimType }, checked: isSelected">
                                    <label class="form-check-label" data-bind="attr: { for: claimType }, text: claimValue"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Roles Checkboxes Section -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <label class="form-label"><i class="fa fa-users"></i> Assign Roles</label>
                            <div class="border rounded p-3" data-bind="foreach: roleTableData">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           data-bind="attr: { id: roleId }, checked: isSelected">
                                    <label class="form-check-label" data-bind="attr: { for: roleId }, text: roleName"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer align-items-center">
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa fa-times"></i> Close
                    </button>
                    <button type="button" class="btn btn-success" data-bind="click: createUser,enable: roleTableData().length > 0">
                        <i class="fa fa-save"></i> Save User
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit User Modal -->
<div class="modal" id="editUserModal"  data-bind="with: UserAndRolesConfig" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa fa-user-plus"></i> Edit User
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-bind="with: SelectedUser">
                <form>
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="Name" class="form-control full-width-input border-primary" placeholder="Name" data-bind="value: name" required>
                                <label for="Name"><i class="fa fa-user"></i> Name</label>
                                <div class="invalid-feedback">Name is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" id="email" class="form-control border-primary full-width-input" placeholder="Email Address" data-bind="value: email" required>
                                <label for="email"><i class="fa fa-envelope"></i> Email Address</label>
                                <div class="invalid-feedback">Email Address is required.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Claims Checkboxes Section -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <label class="form-label"><i class="fa fa-shield"></i> Account Permissions</label>
                            <div class="border rounded p-3" data-bind="foreach: selectedClaims">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           data-bind="attr: { id: claimType }, checked: isSelected,disable:$parent.isPrimary">
                                    <label class="form-check-label" data-bind="attr: { for: claimType }, text: claimValue"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Roles Checkboxes Section -->
                    <div class="row mt-3">
                        <div class="col-12">
                            <label class="form-label"><i class="fa fa-users"></i> Assign Roles</label>
                            <div class="border rounded p-3" data-bind="foreach: selectedRoles">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           data-bind="attr: { id: roleId }, checked: isSelected">
                                    <label class="form-check-label" data-bind="attr: { for: roleId }, text: roleName"></label>
                                </div>
                            </div>
                            <div class="alert alert-warning mt-2" data-bind="visible:selectedRoles.length === 0">
                                No roles assigned please add roles
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer align-items-center">
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa fa-times"></i> Close
                    </button>
                    <button type="button" class="btn btn-success" data-bind="click: updateUser">
                        <i class="fa fa-save"></i> Update User
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete User Modal -->
<div class="modal" id="deleteUserModal" data-bind="with: UserAndRolesConfig" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded">
            <div class="modal-header bg-danger text-white">
                <h4 class="modal-title"><i class="fa fa-trash"></i> Delete User</h4>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" data-bind="with: SelectedUser">
                <p class="fs-5">Are you sure you want to delete this user?</p>
                <!-- User Details -->
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <i class="fa fa-exclamation-triangle me-2"></i>
                    <div>
                        This action <strong>cannot</strong> be undone.
                    </div>
                </div>
                <div class="p-3 border rounded bg-light">
                    <p><strong>User ID:</strong> <span data-bind="text: userId"></span></p>
                    <p><strong>Name:</strong> <span data-bind="text: name"></span></p>
                    <p><strong>Email:</strong> <span data-bind="text: email"></span></p>
                </div>
                <!-- Hidden input for User ID -->
                <input type="hidden" id="deleteUserId" data-bind="value: userId">
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> Cancel
                </button>
                <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal" data-bind="click: function() { deleteUser(); }">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Create Role Modal -->
<div class="modal" id="createRoleModal" data-bind="with: UserAndRolesConfig" tabindex="-1" aria-labelledby="createRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-3">
            <div class="modal-header">
                <h5 class="modal-title fw-bold"><i class="fa fa-user-shield"></i> Create Role</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="rolename" class="form-label fw-semibold">Role Name:</label>
                        <input type="text" id="rolename" class="form-control border-primary shadow-sm"
                               required name="rolename" data-bind="value: roleName" placeholder="Enter role name">
                        <div class="invalid-feedback">Role Name is required.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> Close
                </button>
                <button type="button" class="btn btn-primary" data-bind="click: createRole">
                    <i class="fa fa-save"></i> Save Role
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Role Modal -->
<div class="modal" id="editRoleModal" data-bind="with: UserAndRolesConfig" tabindex="-1" aria-labelledby="editRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-3">
            <div class="modal-header">
                <i class="fa fa-edit"></i> Edit Role
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-bind="with: SelectedRole">
                <form>
                    <div class="mb-3">
                        <label for="editRoleName" class="form-label fw-semibold">Role Name:</label>
                        <input type="text" class="form-control border-primary shadow-sm"
                               id="editRoleName" required data-bind="value: roleName" placeholder="Enter role name">
                        <div class="invalid-feedback">Role Name is required.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> Close
                </button>
                <button type="button" class="btn btn-primary" data-bind="click: function() { updateRole(); }">
                    <i class="fa fa-save"></i> Update Role
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Role Modal -->
<div class="modal" id="deleteRoleModal" data-bind="with: UserAndRolesConfig" tabindex="-1" aria-labelledby="deleteRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-3">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title fw-bold"><i class="fa fa-trash"></i> Delete Role</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" data-bind="with: SelectedRole">
                <p class="fs-5 text-dark"><i class="fa fa-exclamation-triangle text-warning"></i> Are you sure you want to delete this role?</p>
                <!-- User Details -->
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                    <i class="fa fa-exclamation-triangle me-2"></i>
                    <div>
                        This action <strong>cannot</strong> be undone.
                    </div>
                </div>
                <p class="fw-bold text-danger">Role: <span data-bind="text: roleName"></span></p>
                <input type="hidden" id="deleteRoleId" data-bind="value: roleId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> Cancel
                </button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bind="click: deleteRole">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>
