@using System.Configuration
@model List<DotNetReportModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/shared/_Layout.Report.cshtml";
}

<h2>Dashboard</h2>

@section scripts{
    <script type="text/javascript">

    $(document).ready(function () {
         var reports = [];

        @foreach (var r in Model)
        {
            @:reports.push({reportSql: "@r.ReportSql", reportId: @r.ReportId, reportFilter: htmlDecode('@HttpUtility.UrlDecode(r.ReportFilter)'), connectKey: "@r.ConnectKey"});
        }

        var vm = new dashboardViewModel({
            runReportUrl: "@Url.Action("Report")",
            execReportUrl: "@Url.Action("RunReport")",
            reportWizard: $("#filter-panel"),
            lookupListUrl: "@Url.Action("GetLookupList")",
            apiUrl: "@ConfigurationManager.AppSettings["dotNetReport.apiUrl"]",
            accountApiToken: "@ConfigurationManager.AppSettings["dotNetReport.accountApiToken"]", // Your Account Api Token from your http://dotnetreport.com Account
            dataconnectApiToken: "@ConfigurationManager.AppSettings["dotNetReport.dataconnectApiToken"]", // Your Data Connect Api Token from your http://dotnetreport.com Account
            reportMode: "execute",
            reports: reports
        });

        ko.applyBindings(vm);

        $(window).resize(function(){
            vm.drawChart();
        });
      });
    </script>
}

<div data-bind="foreach: reports">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading panel-nocollapse">
                <span data-bind="text: ReportName"></span>
                <div class="pull-right">
                    @using (Html.BeginForm("DownloadExcel", "Report", FormMethod.Post))
                    {
                        <input type="hidden" id="reportSql" name="reportSql" data-bind="value: currentSql" />
                        <input type="hidden" id="connectKey" name="connectKey" data-bind="value: currentConnectKey" />
                        <input type="hidden" id="reportName" name="reportName" data-bind="value: ReportName" />
                        <button type="submit" class="btn btn-default btn-xs"><span class="fa fa-file-excel-o"></span></button>
                    }
                </div>
                <a data-bind="attr: {href: '@Url.Action("Index","Report")?reportId=' + ReportID()}" class="btn btn-default btn-xs pull-right">
                    <i class="fa fa-pencil-square-o" title="Edit Report"></i>
                </a>
            </div>
            <div class="panel-body list-overflow">
                <p data-bind="html: ReportDescription">
                </p>
                <div data-bind="with: ReportResult">
                    <div data-bind="template: 'report-template', data: $data"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="small" data-bind="with: pager">
                    <div class="form-group pull-left total-records">
                        <span data-bind="text: 'Total Records: ' + totalRecords()"></span><br />
                    </div>
                    <div class="form-group pull-right" data-bind="if: pages()>1">
                        <div data-bind="template: 'pager-template', data: $data"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>