
@model ReportBuilder.Web.Models.LoginViewModel
@{
ViewBag.Title = "Log in";
Layout = "~/Views/shared/_Layout.Report.cshtml";

}

<div class="row justify-content-center mt-5">

<div class="col-md-4">
    <div class="row">
        <div class="col-md-12 col-lg-12 mx-auto">
            <section id="loginForm" >
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal form-box", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="text-center">
                        <img src="~/img/report-main.png" width="180" />
                        <h4>Welcome back, please Login below.</h4>
                    </div>
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        <div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-primary btn-lg" />
                        </div>
                    </div>
                    <hr />
                    <p>
                        @Html.ActionLink("If you don't have an Account, Register now.", "Register", "Home")
                    </p>
                }
            </section>
        </div>
    </div>
</div>
