@model ReportBuilder.Web.Models.RegisterViewModel
@{
    Layout = "~/Views/shared/_Layout.Report.cshtml";
}

<div class="row justify-content-center mt-5">

<div class="col-md-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 mx-auto">
            @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-box needs-validation", role = "form", novalidate = "" }))
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <h4>Let's get started!</h4>
                    <div class="alert alert-info">
                        This will create a new Dotnet Report Cloud Account<div class="small">Your temporary password will be sent to your email address</div>
                    </div>
                    <br />
                </div>
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PrimaryContact, new { @class = "control-label requird" })
                    <div>
                        @Html.TextBoxFor(m => m.PrimaryContact, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PrimaryContact, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label requird" })
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", data_val = "false" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                        
                <div class="form-group">
                    @Html.LabelFor(m => m.BusinessName, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", data_val = "false" })
                        @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div>
                        <input type="submit" class="btn btn-primary btn-lg" value="Sign Up" />
                        <br />
                    </div>
                </div>
                <hr />
                <p>
                    @Html.ActionLink("Already have an Account? Login here", "Login", "Home")
                </p>

            }

            </div>
        </div>
    </div>
</div>

</div>

@section scripts {

<script type="text/javascript">
    $('#ReferredBy').hide();
    function referredByChanged(e) {
        if ($('#Source').val() == 'Referred By') $('#ReferredBy').show(); else $('#ReferredBy').hide();
    }
</script>

}