@using System.Configuration
@{
Layout = "~/Views/shared/_Layout.Report.cshtml";
}

<!--
This razor view renders the Report from the Data Table as a Html Table. You have complete control over this page and you can change the code and style to meet your requirements.

Its Recommended you use it as is, and only change styling as needed to match your application. You will be responsible for managing and maintaining any changes.

-->

@section head {
}

@section scripts {

    <script type="text/javascript">
    $(document).ready(function () {
        var queryParams = Object.fromEntries((new URLSearchParams(window.location.search)).entries());
        var selectedDb = '@(Request.QueryString["selectedDb"] != null ? Request.QueryString["selectedDb"] : "")' || localStorage.getItem('dotnetreport-selectedDb') || '62a126b4-a863-4fd4-8d91-185558b64ea2';
        localStorage.setItem('dotnetreport-selectedDb', selectedDb);

        var selectedTheme = '@(Request.QueryString["theme"] != null ? Request.QueryString["theme"] : "")' ||localStorage.getItem('dotnetreport-selectedTheme') || 'Default';
        const themeUrl = 'https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/' + selectedTheme.toLowerCase() + '/bootstrap.min.css';
        document.getElementById('theme-css').href = themeUrl;
        localStorage.setItem('dotnetreport-selectedTheme', selectedTheme);


        ajaxcall({ url: '@Url.Action("GetUsersAndRoles", "DotNetReportApi")' }).done(function(data) {
            var vm = new reportViewModel({
                runReportUrl: '@Url.Action("Report")',
                execReportUrl: "@Url.Action("RunReport", "DotNetReportApi")",
                runLinkReportUrl: "@Url.Action("RunReportLink", "DotNetReportApi")",
                getSchemaFromSql: '@Url.Action("GetSchemaFromSql", "DotNetReportApi")',                
                reportWizard: $("#modal-reportbuilder"),
                linkModal: $("#linkModal"),
                fieldOptionsModal: $("#fieldOptionsModal"),
                lookupListUrl: '@Url.Action("GetLookupList", "DotNetReportApi")',
                apiUrl: '@Url.Action("CallReportApi", "DotNetReportApi")' + "?dataConnect=" + selectedDb,
                runReportApiUrl: '@Url.Action("RunReportApi", "DotNetReportApi")' + "?dataConnect=" + selectedDb,
                getUsersAndRolesUrl: '@Url.Action("GetUsersAndRoles", "DotNetReportApi")',
                reportId: queryParams.reportId || 0,
                userSettings: data,
                dataFilters: data.dataFilters,
                runExportUrl: "@Url.Action("/", "DotNetReport")",
                getTimeZonesUrl: '@Url.Action("GetAllTimezones", "DotNetReportApi")',
                printReportUrl: "@Url.Action("ReportPrint", "DotNetReport", null, this.Request.Url.Scheme)",
                samePageOnRun: true
            });

            var switchVm = {
                databases: [{ name: 'Northwind', key: '62a126b4-a863-4fd4-8d91-185558b64ea2' }, { name: 'Epedimics', key: 'aa514357-42b9-42fc-8e56-a2d9fe1a1d89' }, { name: 'Secondary Database', key: '2dd1cfe7-9e91-4d9f-9bec-3f688499fe37' }, { name: 'Point of Sale', key: '7a6a5694-7b2d-4df7-b15a-00a414b620e3' }],
                themes: ['Default', 'Cerulean', 'Cosmo', 'Cyborg', 'Darkly', 'Flatly', 'Journal', 'Lumen', 'Slate', 'Lux', 'Materia', 'Minty', 'Morph', 'Quartz', 'Sandstone', 'Simplex', 'Sketchy', 'Slate', 'Superhero', 'United'],
                selectedDb: ko.observable(selectedDb),
                selectedTheme: ko.observable(selectedTheme)
            }

            switchVm.selectedDb.subscribe(function (newValue) {
                if (newValue) {
                    localStorage.setItem('dotnetreport-selectedDb', newValue);
                    window.location.href = window.location.pathname;
                }
            });

            switchVm.selectedTheme.subscribe(function (newValue) {
                if (newValue) {
                    localStorage.setItem('dotnetreport-selectedTheme', newValue);
                    window.location.href = window.location.pathname;
                }
            });

            vm.switchVm = switchVm;

            vm.init(0, data.noAccount);
            ko.applyBindings(vm);

            $(window).resize(function() {
                vm.DrawChart();
            });

            vm.textQuery.setupQuery();
        });
    });

    </script>
}

<div>
    <div data-bind="template: {name: 'admin-mode-template'}, visible: allowAdmin" style="display: none;"></div>
    <h4>Smarter Report Builder <small style="color: red">(Beta)</small> </h4>

    <p>
        What would you like to know? Try typing in below to search your data
    </p>
    <p id="query-input" class="query-input">
        Show me&nbsp;
    </p>
    <p>
        <button data-bind="click: function() {runQuery(false);}" class="btn btn-primary btn-sm">Process your Query</button>&nbsp;
        <button data-bind="click: function() {runQuery(true);}" class="btn btn-primary btn-sm">Process with ChatGPT</button>&nbsp;
        <button data-bind="click: resetQuery" class="btn btn-secondary btn-sm">Start over</button>
        <button data-bind="click: openDesigner, hidden: usingAi" class="btn btn-secondary btn-sm">Design/Save Report</button>
    </p>
</div>

<!-- Report Builder -->
<div class="modal modal-fullscreen" id="modal-reportbuilder" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-right: 0px !important;">
    <div data-bind="template: {name: 'report-designer', data: $data}"></div>
</div>


<div data-bind="with: ReportResult">
    <div data-bind="ifnot: HasError, visible: ReportData()">
        <div class="report-canvas" data-bind="with: $root">
            <div class="report-container">
                <div class="report-inner">
                    <h2 data-bind="text: ReportName"></h2>
                    <p data-bind="html: ReportDescription">
                    </p>
                    <div data-bind="with: ReportResult">
                        <div data-bind="template: 'report-template', data: $data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="if: HasError">
        <h3>An unexpected error occured while running the Report</h3>
        <hr />
        <b>Error Details</b>
        <p>
            <div data-bind="text: Exception"></div>
        </p>
    </div>

    <div data-bind="if: $root.adminMode()">
        <br />
        <br />
        <code data-bind="html: ReportSql">
        </code>
    </div>

</div>