@model ReportBuilder.Web.Models.DotNetReportPrintModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ad-hoc reporting, reporting, asp .net reporting, asp .net report, report builder, ad hoc report builder, ad-hoc report builder, adhoc report, ad hoc reports, .net report viewer, reportviewer, sql reportviewer, report builder mvc, report mvc, report builder web forms, query builder, sql report builder,visual report builder,custom query,query maker" />
    <meta name="description" content="Ad hoc Reporting software that allows programmers to easily add Reporting functionality to their ASP .NET Web Software Solution" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/dotnetreport.css?v=4.2.0" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style type="text/css">
        .report-view {
            margin: 0 50px 0 50px;
            max-width: inherit;
        }
        
        .table {
          width: 100%;
          margin-bottom: 1rem;
          color: #212529;
          border-collapse: collapse;
        }

        .table th,
        .table td {
          padding: 0.75rem;
          vertical-align: top;
          border: 1px solid #dee2e6;
        }

        .table-borderless th,
        .table-borderless td,
        .table-borderless thead th,
        .table-borderless tbody + tbody {
          border: 0;
        }

        .table-striped tbody tr:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, 0.05);
        }

    </style>
</head>

<body>

    <div data-bind="with: ReportResult">

        <!-- ko ifnot: HasError -->

        <div class="report-view" data-bind="with: $root">
            <div class="report-inner" style="display: none;">
                <canvas id="report-header" width="1100" height="120" data-bind="visible: useReportHeader"></canvas>
                <h2 data-bind="text: ReportName"></h2>
                <p data-bind="html: ReportDescription">
                </p>

                <!--<div data-bind="with: $root">
                    <div class="" data-bind="ifnot: EditFiltersOnReport">
                        <div data-bind="template: {name: 'fly-filter-template'}"></div>
                        <div style="padding-bottom: 20px;"></div>
                    </div>
                </div>-->

                <div data-bind="with: ReportResult">
                    <div data-bind="template: 'report-template', data: $data"></div>
                </div>
            </div>
            <br />
            <span>Report ran on: <span data-bind="text: new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString()"></span></span>

        </div>
        <!-- /ko -->
        <!-- ko if: HasError -->
        <h2>@Model.ReportName</h2>
        <p>
            @Model.ReportDescription
        </p>

        <h3>An unexpected error occured while running the Report</h3>
        <hr />
        <b>Error Details</b>
        <p class="report-inner" style="display: none;">
            <div data-bind="text: Exception"></div>
        </p>

        <!-- /ko -->

    </div>

    <script type="text/html" id="report-template">

        <div class="report-chart" data-bind="attr: {id: 'chart_div_' + $parent.ReportID()}, visible: $parent.isChart"></div>
        <div style="padding-bottom: 20px;">&nbsp;</div>
        <div class="table-responsive" data-bind="with: ReportData">
            <table class="table table-condensed table-striped" data-bind="attr: {class: 'table table-hover table-condensed table-striped ' +  $root.selectedStyle()}">
                <thead>
                    <tr class="no-highlight">
                        <!-- ko foreach: Columns -->
                        <th data-bind="attr: { id: fieldId }, css: {'right-align': IsNumeric}, style: {'width': fieldWidth, 'background-color': headerBackColor }" style="border-right: 1px solid;">
                            <!-- ko if: $root.useStoredProc() -->
                            <span data-bind="text: fieldLabel() ? fieldLabel() : fieldName, style: {'color': headerFontColor, 'font-weight': headerFontBold() ? 'bold' : 'normal'}"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: $root.useStoredProc()  -->
                            <span data-bind="style: {'color': headerFontColor, 'font-weight': headerFontBold() ? 'bold' : 'normal'}">
                                <span data-bind="text: fieldLabel() ? fieldLabel() : ColumnName"></span>
                            </span>
                            <!-- /ko -->
                        </th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody>
                    <tr style="display: none;" data-bind="visible: Rows.length < 1">
                        <td class="text-info" data-bind="attr:{colspan: Columns.length}">
                            No records found
                        </td>
                    </tr>
                    <!-- ko foreach: Rows  -->
                    <tr>
                        <!-- ko foreach: Items -->
                        <td data-bind="style: {'background-color': _backColor != 'none' ? backColor() : '', 'color': _fontColor != 'none' ? fontColor() : '', 'font-weight': fontBold() && _fontBold != 'none' ? 'bold' : 'normal', 'text-align': $parents[4].pager && $parents[4].ReportType()=='Single' ? 'center' : (fieldAlign ? fieldAlign : (Column.IsNumeric ? 'right' : 'left')), 'font-size':$parents[4].pager && $parents[4].ReportType()=='Single' ? '48px' : ''}">
                            <!-- ko if: LinkTo-->
                                <a data-bind="attr: {href: LinkTo}" target="_blank"><span data-bind="html: FormattedValue"></span></a>
                            <!-- /ko-->
                            <!-- ko ifnot: LinkTo-->
                            <span data-bind="html: FormattedValue"></span>
                            <!-- /ko-->
                        </td>
                        <!-- /ko -->
                    </tr>
                    <!-- ko if: isExpanded -->
                    <tr>
                        <td></td>
                        <td data-bind="attr:{colspan: $parent.Columns.length }">
                            <!-- ko if: DrillDownData -->
                            <table class="table table-hover table-condensed" data-bind="with: DrillDownData">
                                <thead>
                                    <tr class="no-highlight">
                                        <!-- ko foreach: Columns -->
                                        <th data-bind="css: {'right-align': IsNumeric}">
                                            <a href="" data-bind="click: function(){ $parents[1].changeSort(SqlField); }">
                                                <span data-bind="text: ColumnName"></span>
                                                <span data-bind="text: $parents[1].pager.sortColumn() === SqlField ? ($parents[1].pager.sortDescending() ? '&#9660;' : '&#9650;') : ''"></span>
                                            </a>
                                        </th>
                                        <!-- /ko -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;" data-bind="visible: Rows.length < 1">
                                        <td class="text-info" data-bind="attr:{colspan: Columns.length}">
                                            No records found
                                        </td>
                                    </tr>
                                    <!-- ko foreach: Rows  -->
                                    <tr>
                                        <!-- ko foreach: Items -->
                                        <td data-bind="html: FormattedValue, css: {'right-align': Column.IsNumeric}"></td>
                                        <!-- /ko -->
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                            <!-- /ko -->
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                </tbody>
                <!-- ko if: $parent.SubTotals().length == 1 -->
                <tfoot data-bind="foreach: $parent.SubTotals">
                    <tr>
                        <!-- ko if: $parentContext.$parentContext.$parent.canDrilldown() && !$parent.IsDrillDown() -->
                        <td></td>
                        <!-- /ko -->
                        <!-- ko foreach: Items -->
                        <td data-bind="html: FormattedValue, css: {'right-align': Column.IsNumeric}"></td>
                        <!-- /ko -->
                    </tr>
                </tfoot>
                <!-- /ko -->
            </table>
        </div>

    </script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/knockout/knockout-latest.js"></script>
    <script src="~/lib/jquery-blockui/jquery.blockUI.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="~/lib/knockout-sortable/knockout-sortable.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/lib/fabric/fabric.min.js"></script>
    <script src="~/js/dotnetreport-helper.js"></script>
    <script src="~/js/dotnetreport.js?v=4.2.0"></script>

    <style type="text/css">
        a[href]:after {
            content: none !important;
        }
    </style>
    <script type="text/javascript">
    
    $(document).ready(function () {
        var data = {
            currentUserId: '@Model.UserId',
            currentUserRoles: ('@Model.CurrentUserRoles' ||'').split(','),
            dataFilters: '@Model.DataFilters',
            clientId: '@Model.ClientId'
        };

        function decodeHTMLEntities(text) {
            var parser = new DOMParser();
            var dom = parser.parseFromString('<!doctype html><body>' + text, 'text/html');
            var decodedText = dom.body.textContent;

            // Remove new lines and carriage returns
            return decodedText.replace(/[\n\r]/g, '');
        }
        
        var vm = new reportViewModel({
            runReportUrl: "@Url.Action("Report")",
            execReportUrl: "@Url.Action("RunReportUnAuth", "DotNetReportApi")",
            runLinkReportUrl: "@Url.Action("RunReportLink", "DotNetReportApi")",
            reportWizard: $("#filter-panel"),
            reportHeader: "report-header",
            lookupListUrl: "@Url.Action("GetLookupList", "DotNetReportApi")",
            apiUrl: '@Url.Action("CallReportApiUnAuth", "DotNetReportApi")',
            runReportApiUrl: '@Url.Action("RunReportApi", "DotNetReportApi")',
            reportFilter: htmlDecode('@System.Web.HttpUtility.UrlDecode(Model.ReportFilter)'),
            reportMode: "print",
            reportSql: "@Model.ReportSql",
            reportConnect: "@Model.ConnectKey",
            ReportSeries : "@Model.ReportSeries",
            reportHeader: 'report-header',
            userSettings: data,
            dataFilters: data.dataFilters,
            reportData: JSON.parse(decodeHTMLEntities('@System.Web.HttpUtility.HtmlDecode(Model.ReportData)')),
            chartSize: { width: 1000, height: 450 }
        });

        vm.pager.pageSize(10000);
        ko.applyBindings(vm);
        vm.LoadReport(@Model.ReportId, true, "@Model.ReportSeries").done(function () {                
            if (vm.useReportHeader()) {
                vm.headerDesigner.init(true);
                vm.headerDesigner.loadCanvas(true);
            }
            
            if (vm.useStoredProc()) {
                setTimeout(function(){
                    vm.printReport();
                }, 1000);
            } else {
                vm.printReport();
            }

            setTimeout(function () {
                $('.report-inner').show();
            }, 1500);

            setTimeout(function () {
                    $('.report-inner').show();
            }, 15000);
        });

        $(window).resize(function(){
            vm.DrawChart();
            vm.headerDesigner.resizeCanvas();
        });

    });

    </script>

    <script type="text/html" id="fly-filter-template">
        <div data-bind="visible: FlyFilters().length>0" style="padding-left: 30px; padding-right: 30px; padding-top: 20px">
            <b>Filters</b>
            <div class="">
                <!-- ko foreach: FlyFilters -->
                <div class="row">
                    <div class="col-sm-5 col-xs-4">
                        <div data-bind="with: Field" >
                            <div data-bind="if: $parent.Apply">
                                <label>
                                    <span data-bind="text: selectedFilterName"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div data-bind="with: Field" class="col-sm-2 col-xs-3">
                        <div class="form-group" data-bind="if: $parent.Apply">
                            <span data-bind="text: $parent.Operator" ></span>
                        </div>
                    </div>
                    <div data-bind="with: Field" class="col-sm-5 col-xs-5">
                        <div data-bind="if: $parent.Apply">
                            <div data-bind="template: 'report-filter', data: $data"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </script>


    <script type="text/html" id="report-filter">
        <div class="form-group">
            <!-- ko if: !hasForeignKey-->
            <!-- ko if: fieldType=='DateTime'-->
            <!-- ko if: ['=','>','<','>=','<=', 'not equal'].indexOf($parent.Operator()) != -1 -->
            <span data-bind="text: $parent.Value"></span>
            <!-- /ko -->
            <!-- ko if: ['between'].indexOf($parent.Operator()) != -1 -->
            From &nbsp; 
            <span data-bind="text: $parent.Value"></span>
            to &nbsp;
            <span data-bind="text: $parent.Value2"></span>
            <!-- /ko -->
            <!-- ko if: ['range'].indexOf($parent.Operator()) != -1 -->
            <span data-bind="text: $parent.Value"></span>
            <div data-bind="if: $parent.Value().indexOf('Today +') >= 0 || $parent.Value().indexOf('Today -') >= 0">
                <span type="number" style="width: 80px;" data-bind="text: $parent.Value2" ></span><span> days</span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: ['Int','Money','Float','Double'].indexOf(fieldType) != -1 -->
            <!-- ko if: ['=','>','<','>=','<=', 'not equal'].indexOf($parent.Operator()) != -1 && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
            <span type="number" data-bind="text: $parent.Value, disable: $parent.Operator() == 'is default'" ></span>
            <!-- /ko -->
            <!-- ko if: ['between'].indexOf($parent.Operator()) != -1 -->
            From &nbsp;
            <span type="number" data-bind="text: $parent.Value" ></span>
            to &nbsp;
            <span type="number" data-bind="text: $parent.Value2" ></span>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: fieldType=='Boolean' && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
            <span data-bind="text: $parent.Value== '0' ? 'No' : 'Yes'">
           </span>
            <!-- /ko -->
            <!-- ko if: ['Int','Money','Float','Double','Date','DateTime','Boolean'].indexOf(fieldType) == -1 && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
            <span type="text" data-bind="text: $parent.Value, disable: $parent.Operator() == 'is default'" ></span>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: hasForeignKey && $parent.Operator() != 'all' -->
            <!-- ko if: hasForeignParentKey && $parent.showParentFilter() -->
            <span data-bind="text: $parent.ParentIn"></span>
            <!-- /ko -->
            <!-- ko if: $parent.Operator()=='='-->
            <span data-bind="text: $parent.Value"></span>
            <!-- /ko -->
            <!-- ko if: $parent.Operator()=='in' || $parent.Operator()=='not in'-->
            <span data-bind="text: $parent.ValueIn"></span>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </script>
</body>
</html>