@model ReportBuilder.Web.Models.DotNetReportPrintModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ad-hoc reporting, reporting, asp .net reporting, asp .net report, report builder, ad hoc report builder, ad-hoc report builder, adhoc report, ad hoc reports, .net report viewer, reportviewer, sql reportviewer, report builder mvc, report mvc, report builder web forms, query builder, sql report builder,visual report builder,custom query,query maker" />
    <meta name="description" content="Ad hoc Reporting software that allows programmers to easily add Reporting functionality to their ASP .NET Web Software Solution" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/dotnetreport.css?v=6.0.0" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style type="text/css">
        .report-view {
            margin: 0 50px 0 50px;
            max-width: inherit;
        }
        
        .table {
          width: 100%;
          margin-bottom: 1rem;
          color: #212529;
          border-collapse: collapse;
        }

        .table th,
        .table td {
          padding: 0.75rem;
          vertical-align: top;
          border: 1px solid #dee2e6;
        }

        .table-borderless th,
        .table-borderless td,
        .table-borderless thead th,
        .table-borderless tbody + tbody {
          border: 0;
        }

        .table-striped tbody tr:nth-of-type(odd) {
          background-color: rgba(0, 0, 0, 0.05);
        }

    </style>
</head>

<body>
    @Html.AntiForgeryToken()
    <div data-bind="with: ReportResult">

        <!-- ko ifnot: HasError -->

        <div class="report-view" data-bind="with: $root">
            <div class="report-inner" style="display: none;">
                <div data-bind="visible: UseReportHeader">
                    <div id="report-header" width="1100" height="120" data-bind="html: headerDesigner.headerHtml"></div>
                </div>                
                <h2 data-bind="text: ReportName"></h2>
                <p data-bind="html: ReportDescription">
                </p>

                <!--<div data-bind="with: $root">
                    <div class="" data-bind="ifnot: EditFiltersOnReport">
                        <div data-bind="template: {name: 'fly-filter-template'}"></div>
                        <div style="padding-bottom: 20px;"></div>
                    </div>
                </div>-->

                <div data-bind="with: ReportResult">
                    <div data-bind="template: 'report-template', data: $data"></div>
                </div>
            </div>
            <br />
            <span>Report ran on: <span data-bind="text: new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString()"></span></span>

        </div>
        <!-- /ko -->
        <!-- ko if: HasError -->
        <h2>@Model.ReportName</h2>
        <p>
            @Model.ReportDescription
        </p>

        <h3>An unexpected error occured while running the Report</h3>
        <hr />
        <b>Error Details</b>
        <p class="report-inner" style="display: none;">
            <div data-bind="text: Exception"></div>
        </p>

        <!-- /ko -->

    </div>

    <script type="text/html" id="report-render">
        <div data-bind="with: ReportData">
            <div data-bind="foreach: Rows">
                <div data-bind="html: renderedHtml"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="report-template">
        <div class="report-chart" data-bind="attr: {id: 'chart_div_' + $parent.ReportID()}, visible: $parent.isChart"></div>
        <!-- ko if: $parent.ReportType() == 'Pivot' -->
        <div data-bind="template: {name: 'report-pivot', data: $data }"></div>
        <!-- /ko -->

        <!-- ko if: $parent.ReportType() == 'Html' -->
        <div data-bind="template: {name: 'report-render', data: $data }"></div>
        <!-- /ko -->

        <!-- ko if: $parent.ReportType() != 'Pivot' && $parent.ReportType() != 'Html' && (!$parent.isChart() || $parent.ShowDataWithGraph()) -->
        <div class="pull-right" data-bind="if: $parent.OuterGroupColumns().length > 0">
            <a href="#" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                Manage Groups <span class="fa fa-ellipsis-v"></span>
            </a>
            <ul class="dropdown-menu" style="z-index: 1001;" data-bind="foreach: $parent.OuterGroupColumns">
                <li class="dropdown-item small">
                    <a href="#" data-bind="click: remove" title="Remove from Group">
                        <span class="fa fa-close"></span> <span data-bind="text: fieldName"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear-fix"></div>

        <div data-bind="foreach: outerGroupData">
            <!-- ko if: rows.length > 0 || ($parent.outerGroupData && $parent.outerGroupData().length == 1) -->
            <h6 data-bind="html: display"></h6>
            <div class="" style="padding-top: 5px;"></div>

            <!-- ko if: $parents[1].ReportType() != 'Single'-->
            <div data-bind="template: {name: 'report-table', data: $parent.ReportData }"></div>
            <!-- /ko -->
            <!-- ko if: $parents[1].ReportType() == 'Single'-->
            <div data-bind="template: {name: 'report-widget', data: $parent.ReportData }"></div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </script>


    <script type="text/html" id="report-column-header">
        <!-- ko foreach: Columns -->
        <th data-bind="attr: { id: !IsPivotField ? fieldId : 'pivot--' + fieldName }, style: {'text-align': fieldAlign() ? fieldAlign() : (IsNumeric ? 'right' : 'left'), 'background-color': headerBackColor }, hidden: outerGroup" style="border-right: 1px solid;">
            <div data-bind="style: {'width': fieldWidth}">
                <!-- ko if: $parents[3].useStoredProc ? $parents[3].useStoredProc() : ($parents[5].useStoredProc ? $parents[5].useStoredProc() : false) -->
                <span data-bind="text: fieldLabel() ? fieldLabel() : fieldName, style: {'color': headerFontColor, 'font-weight': headerFontBold() ? 'bold' : 'normal'}"></span>
                <!-- /ko -->
                <!-- ko ifnot: $parents[3].useStoredProc ? $parents[3].useStoredProc() : ($parents[5].useStoredProc ? $parents[5].useStoredProc() : false)  -->
                <span data-bind="click: function(){ if (!IsPivotField) { $parents[pagerIndex($parents)].changeSort(SqlField); } }, style: {'color': headerFontColor, 'font-weight': headerFontBold() ? 'bold' : 'normal'}">
                    <span data-bind="text: $parent.IsDrillDown() && fieldLabel2() ? fieldLabel2() : (fieldLabel() ? fieldLabel() : fieldName)"></span>
                </span>
                <!-- /ko -->
            </div>
        </th>
        <!-- /ko -->
    </script>

    <script type="text/html" id="report-widget">
        <div style="text-align: center; width: 100%;font-size: 48px">
            <span data-bind="visible: Rows.length < 1" title="No data found">/</span>

            <div data-bind="if: Rows.length > 0">
                <div data-bind="with: $parent.rows[0].Items[0]">
                    <span data-bind="html: formattedVal"></span>

                    <!-- ko if: $parent.Rows.length > 1 && $parents[$parents.length-2].showPriorInKpi() -->
                    <span data-bind="style: {'color': $parent.calculateRate() > 0 ? 'green' : 'red', 'font-size': '24px'}">
                        <span data-bind="html: $parent.calculateRate() + '%'"></span>
                    </span>

                    <div data-bind="style: {'font-size': '24px', 'color': 'gray'}, css: {'text-muted': true}">
                        Prior Period: <span data-bind="html: $parent.Rows[1].Items[0].formattedVal"></span>
                    </div>
                    <!-- /ko -->

                </div>
            </div>
        </div>

    </script>

    <script type="text/html" id="report-column">
        <!-- ko foreach: Items -->
        <td data-bind="hidden: outerGroup, style: {'background-color': _backColor ?? backColor(), 'color': _fontColor ?? fontColor(), 'font-weight': fontBold() || _fontBold ? 'bold' : 'normal', 'text-align': fieldAlign() ? fieldAlign() : (Column.IsNumeric ? 'right' : 'left')}">
            <div data-bind="style: {'width': fieldWidth }">
                <!-- ko if: LinkTo-->
                <a data-bind="attr: {href: LinkTo}" target="_blank"><span data-bind="html: formattedVal"></span></a>
                <!-- /ko-->
                <!-- ko ifnot: LinkTo-->
                <span data-bind="html: formattedVal"></span>
                <!-- /ko-->
            </div>
        </td>
    </script>

    <script type="text/html" id="report-pivot">
        <div class="table-responsive" data-bind="with: ReportData">
            <table class="table table-striped table-hover table-condensed">
                <thead style="position: sticky; top: -1px; z-index: 2;">
                    <tr>
                        <th></th>
                        <!-- ko foreach: Rows -->
                        <th>
                            <span data-bind="text: Items[0].FormattedValue"></span>
                        </th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody data-bind="foreach: Columns">
                    <tr>
                        <!-- ko if: $index() > 0 -->
                        <td>
                            <span data-bind="text: fieldLabel || ColumnName"></span>
                        </td>
                        <!-- ko foreach: $parent.Rows -->
                        <td data-bind="style: {'background-color': $parent.backColor, 'color': $parent.fontColor, 'font-weight': $parent.fontBold() ? 'bold' : 'normal', 'text-align': $parent.fieldAlign ? $parent.fieldAlign : ($parent.IsNumeric ? 'right' : 'left') }">
                            <span data-bind="text: Items[$parentContext.$index()].FormattedValue"></span>
                        </td>
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>

        </div>

    </script>

    <script type="text/html" id="report-table">
        <div class="table-responsive">
            <table class="table table-hover table-condensed" data-bind="attr: {class: 'table table-striped table-hover table-condensed ' + $parents[2].selectedStyle()}">
                <thead style="position: sticky; top: -1px; z-index: 2;" data-bind="if: !$parents[2].noHeaderRow()">
                    <tr class="no-highlight" data-bind="sortableColumns: { handle: '.sortable', cursor: 'move', placeholder: 'drop-highlight',selectedFields: $parents[2].SelectedFields }">
                        
                        <!-- ko template: 'report-column-header', data: $data -->
                        <!-- /ko-->
                    </tr>
                </thead>
                <tbody data-bind="attr: {id: 'report-table-body' + $parents[2].ReportID()}">
                    <tr style="display: none;" data-bind="visible: Rows.length < 1">
                        <td data-bind="attr:{colspan: Columns.length + 1}">
                            No records found
                        </td>
                    </tr>

                    <!-- ko if: !$parents[2].hasPivotColumn() && (!$parents[2].ShowExpandOption() || $parents[2].ReportType() == 'List') -->
                    <!-- ko foreach: $parent.rows  -->
                    <tr>                       
                        <!-- ko template: 'report-column', data: $data -->
                        <!-- /ko-->
                    </tr>
                    <!-- ko if: isExpanded -->
                    <tr>
                        <td style="width: 30px;"></td>
                        <td data-bind="attr:{colspan: $parent.Columns.length }" style="padding-left: 0px;">
                            <div data-bind="visible: !DrillDownData()">
                                <div class="report-spinner"></div>
                            </div>
                            <!-- ko if: DrillDownData -->
                            <table class="table table-striped table-hover table-condensed" data-bind="with: DrillDownData">
                                <thead>
                                    <tr class="no-highlight">
                                        <!-- ko template: 'report-column-header', data: $data -->
                                        <!-- /ko-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="display: none;" data-bind="visible: Rows && Rows.length < 1">
                                        <td data-bind="attr: {colspan: Columns.length}">
                                            No records found
                                        </td>
                                    </tr>
                                    <!-- ko foreach: Rows  -->
                                    <tr>
                                        <!-- ko template: 'report-column', data: $data -->
                                        <!-- /ko-->
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>                           
                            <!-- /ko -->
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko-->
                </tbody>
                <!-- ko if: $parentContext.$parent.SubTotals().length == 1 && $parentContext.$parentContext.$parent.OuterGroupColumns().length == 0 -->
                <tfoot data-bind="foreach: $parentContext.$parent.SubTotals">
                    <tr class="sub-total">                        
                        <!-- ko foreach: Items -->
                        <!-- ko if: Value != 'NA' && Value != 'NaN' && !outerGroup() -->
                        <td data-bind="style: {'background-color': _backColor ?? backColor(), 'color': _fontColor ?? fontColor(), 'font-weight': fontBold() || _fontBold ? 'bold' : 'normal', 'text-align': fieldAlign() ? fieldAlign() : 'right'}">
                            <div data-bind="style: {'width': fieldWidth }">
                            <span data-bind="html: formattedVal"></span>
                            </div>
                        </td>
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                </tfoot>
                <!-- /ko -->
            </table>
        </div>
    </script>
    <input type="hidden" id="exportId" value="@ViewBag.ExportId" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/knockout/knockout-latest.js"></script>
    <script src="~/lib/jquery-blockui/jquery.blockUI.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="~/lib/knockout-sortable/knockout-sortable.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/lib/fabric/fabric.min.js"></script>
    <script src="~/lib/tributejs/tribute.min.js"></script>
    <script src="~/js/dotnetreport-helper.js"></script>
    <script src="~/js/dotnetreport.js?v=6.0.0"></script>

    <style type="text/css">
        a[href]:after {
            content: none !important;
        }
    </style>
    <script type="text/javascript">
    
    $(document).ready(function () {
        var data = {
            currentUserId: '@Model.UserId',
            currentUserRoles: ('@Model.CurrentUserRoles' ||'').split(','),
            dataFilters: '@Model.DataFilters',
            clientId: '@Model.ClientId'
        };

        function decodeHTMLEntities(text) {
            var parser = new DOMParser();
            var dom = parser.parseFromString('<!doctype html><body>' + text, 'text/html');
            var decodedText = dom.body.textContent;

            // Remove new lines and carriage returns
            return decodedText.replace(/[\n\r]/g, '');
        }
        
        var vm = new reportViewModel({
            runReportUrl: "@Url.Action("Report")",
            execReportUrl: "@Url.Action("RunReport", "DotNetReportApi")",
            runLinkReportUrl: "@Url.Action("RunReportLink", "DotNetReportApi")",
            reportWizard: $("#filter-panel"),
            reportHeader: "report-header",
            lookupListUrl: "@Url.Action("GetLookupList", "DotNetReportApi")",
            apiUrl: '@Url.Action("CallReportApiUnAuth", "DotNetReportApi")',
            runReportApiUrl: '@Url.Action("RunReportApi", "DotNetReportApi")',
            reportFilter: htmlDecode('@System.Web.HttpUtility.UrlDecode(Model.ReportFilter)'),
            reportMode: "print",
            reportSql: "@Model.ReportSql",
            reportConnect: "@Model.ConnectKey",
            ReportSeries : "@Model.ReportSeries",
            reportHeader: 'report-header',
            userSettings: data,
            dataFilters: JSON.parse(decodeHTMLEntities(data.dataFilters) || '{}'),
            reportData: JSON.parse(decodeHTMLEntities('@Model.ReportData')),
            getTimeZonesUrl: '@Url.Action("GetAllTimezones", "DotNetReportApi")',
            chartSize: { width: 1000, height: 450 }
        });

        vm.pager.pageSize(10000);
        ko.applyBindings(vm);
        vm.LoadReport(@Model.ReportId, true, "@Model.ReportSeries").done(function () {
            if (vm.UseReportHeader()) {
                vm.headerDesigner.init(true);
            }
            
            if (vm.useStoredProc()) {
                setTimeout(function(){
                    vm.printReport();
                }, 1000);
            } else {
                vm.printReport();
            }

            setTimeout(function () {
                $('.report-inner').show();
            }, 1500);

            setTimeout(function () {
                    $('.report-inner').show();
            }, 15000);
        });

        $(window).resize(function(){
            vm.DrawChart();
        });

    });

    </script>

    <script type="text/html" id="fly-filter-template">
        <div data-bind="visible: FlyFilters().length>0" style="padding-left: 30px; padding-right: 30px; padding-top: 20px">
            <b>Filters</b>
            <div class="">
                <!-- ko foreach: FlyFilters -->
                <div class="row">
                    <div class="col-sm-5 col-xs-4">
                        <div data-bind="with: Field" >
                            <div data-bind="if: $parent.Apply">
                                <label>
                                    <span data-bind="text: selectedFilterName"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div data-bind="with: Field" class="col-sm-2 col-xs-3">
                        <div class="form-group" data-bind="if: $parent.Apply">
                            <span data-bind="text: $parent.Operator" ></span>
                        </div>
                    </div>
                    <div data-bind="with: Field" class="col-sm-5 col-xs-5">
                        <div data-bind="if: $parent.Apply">
                            <div data-bind="template: 'report-filter', data: $data"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </script>


    <script type="text/html" id="report-filter">
        <div class="form-group">
            <!-- ko if: !hasForeignKey-->
            <!-- ko if: fieldType=='DateTime'-->
            <!-- ko if: ['=','>','<','>=','<=', 'not equal'].indexOf($parent.Operator()) != -1 -->
            <span data-bind="text: $parent.Value"></span>
            <!-- /ko -->
            <!-- ko if: ['between'].indexOf($parent.Operator()) != -1 -->
            From &nbsp; 
            <span data-bind="text: $parent.Value"></span>
            to &nbsp;
            <span data-bind="text: $parent.Value2"></span>
            <!-- /ko -->
            <!-- ko if: ['range'].indexOf($parent.Operator()) != -1 -->
            <span data-bind="text: $parent.Value"></span>
            <div data-bind="if: $parent.Value().indexOf('Today +') >= 0 || $parent.Value().indexOf('Today -') >= 0">
                <span type="number" style="width: 80px;" data-bind="text: $parent.Value2" ></span><span> days</span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: ['Int','Money','Float','Double'].indexOf(fieldType) != -1 -->
            <!-- ko if: ['=','>','<','>=','<=', 'not equal'].indexOf($parent.Operator()) != -1 && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
            <span type="number" data-bind="text: $parent.Value, disable: $parent.Operator() == 'is default'" ></span>
            <!-- /ko -->
            <!-- ko if: ['between'].indexOf($parent.Operator()) != -1 -->
            From &nbsp;
            <span type="number" data-bind="text: $parent.Value" ></span>
            to &nbsp;
            <span type="number" data-bind="text: $parent.Value2" ></span>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: fieldType=='Boolean' && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
            <span data-bind="text: $parent.Value== '0' ? 'No' : 'Yes'">
           </span>
            <!-- /ko -->
            <!-- ko if: ['Int','Money','Float','Double','Date','DateTime','Boolean'].indexOf(fieldType) == -1 && ['is blank', 'is not blank', 'is null', 'is not null'].indexOf($parent.Operator()) == -1 -->
            <span type="text" data-bind="text: $parent.Value, disable: $parent.Operator() == 'is default'" ></span>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: hasForeignKey && $parent.Operator() != 'all' -->
            <!-- ko if: hasForeignParentKey && $parent.showParentFilter() -->
            <span data-bind="text: $parent.ParentIn"></span>
            <!-- /ko -->
            <!-- ko if: $parent.Operator()=='='-->
            <span data-bind="text: $parent.Value"></span>
            <!-- /ko -->
            <!-- ko if: $parent.Operator()=='in' || $parent.Operator()=='not in'-->
            <span data-bind="text: $parent.ValueIn"></span>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </script>
</body>
</html>